body{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.canvas-container{
  /* position: relative; */
  height: 1000px;
  width: 2000px;
  
}

#monopolyDisplay{
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 2;
}

#monopolyPlayer{
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 2;
}

#monopolyBoardImages{
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 1;
}

#monopolyBoard{
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 0;
}

#playerInterface{
  position: absolute;
  left: 1050px;
  top: 10px;
  height: 958px;
  width:800px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px dotted #c0e2ca;
  color: white;
  display: flex;
  font-family: "Josefin Sans";
}

#controls{
  align-self: center;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

.instructions{
  overflow: auto;
  flex-grow: 1;
}

.instructions h1{  
  font-weight: 700;
  font-size: 3em;
  
}

.instructions h3{  
  text-decoration: underline;
}

button{
  background-color: #13a857; 
  font-family: 'Josefin Sans';
  border: 1px solid #FFF;
  color: #FFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 25px;
}

/* #playerInterface{
  position: absolute;
  left: 171px;
  top: 131px;
  height: 719px;
  width:719px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solided #000000;
  z-index: 3;
} */